body{
  background: url('/image/lined_paper.png');
}

table{
  background-color: #fff;
}

.nav{
  padding: 5px 0;
  margin: 0 0 25px;
  /*background-color: #f7b977;*/
  background-color: #DC6B5F;
}

.sidebar {
  font-size: 0.9em;
}
.sidebar-icon{
  font-size: 2em;
}



/*top start*/
  .header-field{
    /*background-color: #fff;*/
    /*background-image: url("{{ asset('image/bg_top_filtered.jpg') }}");*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: inline-block;
    margin-top: -25px;
    height: 84%;
  }
  .img_container{
    margin:12% 30%;
  }
  .bland_img{
    display: block;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.65);
  }
  .search_header{
    width:50%;
    margin: 0 auto 20%;
  }

  .left{
    background-color: #F7F7F7;
  }

  .columns{
    margin: 20px 10px;
  }
  .articles{
    display: inline-block;
  }
  .article{
    margin: 5%; 
    height: 217px;
  }
  .article-img{
    width: 100%;
    margin: 0 auto;
    border:solid 1px #AFAFAF;
  }
  .article-summary{
    background-color: #BDBDBD;
  }
/*end top*/

svg{
  display: block;
}
.class-name{
  color:inherit;
  margin:0;
  font-family:'Source Sans Pro','Helvetica Neue',HelveticaNeue,Helvetica,Arial,sans-serif;
}
.tag-full-btn{
  margin:2% 0;
}
.icons{
  margin: 10px;
}
.search-icon{
  background-color:transparent;
  position:relative;
  right:30px;
  font-size:14px;
  top: 1px;
}
#eval_pie{
  margin: 0 auto;
}
#evaluation_pie{
  margin: 0 auto;
  width: 250px;
  height: 250px;
}
wg
text{
  fill: #FFF;
}
.new-tag-field{
  display: none;
  margin: 20px 0;
}
#attendance_bar_graph{
  /*background-color: #91BFC3;*/
}

.evaluation-display{
/*  margin: 16% 0;
  position: relative;*/
}

.warning-text{
  color: #FF5B5B;
  font-size: 0.7em;
}

.twitter_share {
    background-color: #55ACEE;
    color: #fff;
    font-family: 'sans-serif';
}
.twitter_share:hover {
    background-color: #4C9AD6;
}


/* 以下タブ用のstyle */
.tab-index ul {
  display: table;
  width: 100%;
  margin: 20px auto 0;
  text-align: center;
}
.tab-index li {
  display: table-cell;
  width: 33%;
  height: 44px;
  line-height: 44px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}
.tab-index a {
  display: block;
  width: 100%;
}
.tab-index li:not(:last-child) {
  border-right: 1px solid #ccc;
}
.tab-index .active {
  background-color: #fff;
}
.tab-contents {
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  padding: 2%;
  display: none;
}
.tab-contents.active {
  display: block;
}

/* register */

.social_register {
  width: 100%;
  height: 75px;
  text-align: center;
}

.social_register a {
  width: 25%;
  height: 50px;
  margin:0 12%;
  line-height: 50px;
  border-radius: 3px;
  color: #fff;
  font-size: 1.25em;
  font-family: 'sans-serif';
  display: block;
  float: left;
}
.social_register .twitter {
    background-color: #55ACEE;
}
.social_register .facebook {
    background-color: #415E9B;
}

/* FAQ */

.accordion li:nth-child(2n){
  padding-left: 34px;
}

.accordion li:nth-child(2n+1):before {
  content: '-　';
}

/* footer style */

footer {
  margin-top: 20px;
  padding:20px 18px 0;
  background-color: rgb(247, 185, 119);
}
footer .allrights {
  font-weight: bold;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
  font-family: 'sans-serif';
}
.footer-sns-icons{
  font-size: 2.7em;
  color: #000;
}

.footer-header-icon{
  margin: 0 14px;
}
@media screen and (max-width: 47.9375rem) {
  /*top start*/
  .bland_img{
    width: 100%;
  }
  .img_container{
    margin:32% 5%;
  }
  .search_header{
     width:90%;
  }
  .article{
    margin: 15%;
  }
  /*top end*/

  /*classes start*/
  .class-name{
    font-size:1.1em;
  /*classes end*/
  }
}